# Database Configuration
# Para rodar LOCALMENTE (fora do Docker), use as portas expostas:
# MONGODB_WRITE_URI=mongodb://localhost:27020/family-task-manager-write-dev
# MONGODB_READ_URI=mongodb://localhost:27018/family-task-manager-read-dev
# MONGODB_EVENTS_URI=mongodb://localhost:27019/family-task-manager-events-dev

# Para rodar DENTRO do Docker (dentro do container), use os nomes dos serviços:
MONGODB_WRITE_URI=mongodb://mongodb-write:27017/family-task-manager-write-dev
MONGODB_READ_URI=mongodb://mongodb-read:27017/family-task-manager-read-dev
MONGODB_EVENTS_URI=mongodb://mongodb-events:27017/family-task-manager-events-dev

# JWT Configuration
JWT_SECRET=secret-key-here
JWT_EXPIRES_IN=24h

# Application Configuration
PORT=3000
NODE_ENV=development
